.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }

  .main{
    background: white;
    margin: 60px 100px;
    padding: 25px;
    border-radius: 15px;
  }